@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dog .tail {
    animation: dog-tail-shake 5000ms ease-in-out infinite alternate;
    left: calc(50% - (theme('width.4') / 2));
    position: absolute;
    top: -1.5rem;
  }

  .dog .head {
    bottom: -1.5rem;
    left: calc(50% - (theme('width.20') / 2));
    position: absolute;
  }

  .dog .muzzle {
    bottom: -0.5rem;
    left: calc(50% - (theme('width.16') / 2));
    position: absolute;
  }

  .dog .nose {
    bottom: 10px;
    left: calc(50% - (theme('width.5') / 2));
    position: absolute;
  }

  .dog .tongue {
    bottom: 0;
    left: calc(50% - (theme('width.6') / 2));
    position: absolute;
    transform-origin: center top;
    transition: bottom 500ms;
  }

  .dog .left-eye {
    left: 20%;
    position: absolute;
    top: 45%;
  }

  .dog .right-eye {
    position: absolute;
    right: 20%;
    top: 45%;
  }

  .dog .left-ear {
    left: -1rem;
    position: absolute;
    top: -0.5rem;
  }

  .dog .right-ear {
    position: absolute;
    right: -1rem;
    top: -0.5rem;
  }

  .dog:not(.animate) .head {
    animation: dog-head 7000ms ease-in-out infinite;
  }

  .dog .left-eye,
  .dog .right-eye {
    animation: dog-eyes 7000ms ease-in-out infinite;
  }

  .dog.animate .tail {
    animation: dog-tail 200ms ease-in-out infinite alternate;
  }

  .dog.animate .tongue {
    bottom: -0.85rem;
    animation: dog-tongue 700ms ease-in-out infinite;
  }

  @keyframes dog-head {
    65% {
      transform: rotate(0);
    }

    70%, 85% {
      transform: rotate(-30deg);
    }


    90% {
      transform: rotate(0);
    }
  }

  @keyframes dog-eyes {
    from, to {
      animation-timing-function: step-end;
      opacity: 1;
    }

    50%, 51% {
      animation-timing-function: step-start;
      opacity: 0;
    }
  }

  @keyframes dog-tail {
    from {
      transform: rotate(-45deg);
    }

    to {
      transform: rotate(45deg);
    }
  }

  @keyframes dog-tail-shake {
    from, to {
      transform: rotate(0)
    }

    50%, 55%, 60% {
      transform: rotate(-20deg);
    }

    52%, 57%, 64% {
      transform: rotate(25deg);
    }
  }

  @keyframes dog-tongue {
    from, to {
      transform: rotate(0) translateY(0);
    }

    16% {
      transform: rotate(1deg) translateY(3px);
    }

    33%, 66% {
      transform: rotate(0) translateY(0);
    }

    50%, 83% {
      transform: rotate(-1deg) translateY(-3px);
    }
  }
}
